.spinner {
  animation: spin 1.5s infinite linear;
  fill: #3388ff;
}

.primary {
  width: 100px;
  height: 100px;

}

.secondary {
  width: 80px;
  height: 80px;
}

.small {
  width: 15px;
  height: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
